@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    body, main {
        --tw-bg-opacity: 1;
        background-color: #2e2e2f!important;
    }
}

body, main{
    background-color: #f5f5f5;
}

@keyframes slideToLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideToRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.slide-left {
    animation: slideToLeft 0.6s ease-in-out;
}

.slide-right {
    animation: slideToRight 0.6s ease-in-out;
}

.aside-menu > .input-menu:checked {
    width: 32rem;
}
